<form class="w-50" (ngSubmit)="onSunmit()" #itemForm="ngForm">

    <input name="product" 
    placeholder="Producto" 
    class="form-control m-3"
    [(ngModel)]="item.product"
    required minlength="5"
    #product="ngModel">

    @if (product.invalid && (product.dirty || product.touched)) {
        @if (product.errors!['requiered']) {
            <div class="text-danger">
                Nombre de producto requerido
            </div>
        }
        
        @if (product.errors!['minlength']) {
            <div class="text-danger">
                Nombre de producto debe tener al menos 5 caracteres
            </div>
        }
    }

    <input name="price" 
    type="number"
    placeholder="Precio" 
    class="form-control m-3"
    [(ngModel)]="item.price"
    required min="10"
    #price="ngModel">

    @if (price.invalid && (price.dirty || price.touched)) {
        @if (product.errors!['requiered']) {
            <div class="text-danger">
               Precio es requerido
            </div>
        }
        
        @if (price.errors!['min']) {
            <div class="text-danger">
                Precio debe ser mayor o igual a 10
            </div>
        }
    }



    <input name="quantity" 
    type="number"
    placeholder="Cantidad" 
    class="form-control m-3"
    [(ngModel)]="item.quantity"
    required min="1"
    #quantity="ngModel">

    @if (quantity.invalid && (quantity.dirty || quantity.touched)) {
        @if (product.errors!['requiered']) {
            <div class="text-danger">
                Cantidad es requerida
            </div>
        }
        
        @if (quantity.errors!['min']) {
            <div class="text-danger">
                Cantidad debe ser mayor o igual a 1
            </div>
        }
    }

    <Button class="btn btn-primary m-3" [disabled]="itemForm.invalid">
        Nuevo Item
    </Button>

</form>